* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.about-page {
    flex: 1; 
    padding: 20px;
}

.about-intro {
    margin-bottom: 30px;
}

.about-intro h1 {
    font-size: 2.5rem;
    color: #333;
}

.about-intro p {
    font-size: 1.2rem;
    color: #555;
}

.about-members {
    margin-top: 40px;
}

.about-members h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.members-list {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.member-card {
    width: 200px;
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.member-card img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.member-card h3 {
    font-size: 1.2rem;
    color: #333;
}

.member-card p {
    color: #777;
}

.footer {
    margin-top: auto; 
    background-color: #333333;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px;
    text-align: center;
}

.footer-logo {
    width: 50px;
    height: auto;
}

.footer-section h3 {
    color: white;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section a {
    color: #3498db;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.social-connect {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #555;
}

.address {
    color: rgb(210, 213, 121);
}

.copyright {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
}


@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }
    .footer-section {
        margin-bottom: 20px;
    }
}
