.news-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  .news-heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .news-content{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .news-content p{
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  .posts-container {
    border-top: 1px solid #eaeaea;
  }
  
  .post {
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;
  }
  
  .post-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
  }
  
  .post-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .post-date {
    font-size: 12px;
    color: #999;
  }
  